body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  padding: 60px;
}

h1 {
  margin-bottom: 2.5%;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

/* <----left side hour blocks */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  /* styling added */
  border-left: 1px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

/* middle 3 */
.past {
  background-color: #e8f1f0;
  color: white;
}

.present {
  background-color: #def282;
  color: white;
}

.future {
  background-color: #96dbf4;
  color: white;
}

/* right side button ---->*/
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f08a3c;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
